In [1]:
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np
from scipy import stats
from sklearn.datasets import load_iris
import pandas as pd
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from statsmodels.formula.api import ols
%load_ext autotime

In [2]:
df = pd.read_csv('data/kc_house_data.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  float64
 9   view           21534 non-null  float64
 10  condition      21597 non-null  int64
 11  grade          21597 non-null  int64
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

In [4]:
import geopy.geocoders
from geopy.geocoders import Nominatim
geopy.geocoders.options.default_user_agent = 'kpmcdonough@gmail.com'
geopy.geocoders.options.default_timeout = 7
geolocator = Nominatim()
print(geolocator.headers)
print(geolocator.timeout)

{'User-Agent': 'kpmcdonough@gmail.com'}
7

In [5]:
locator = Nominatim()
coordinates = 47.7210, -122.319
location = locator.reverse(coordinates)
location.raw

{'place_id': 149083775,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 235228381,
 'lat': '47.72106685',
 'lon': '-122.31909342613385',
 'display_name': '837, Northeast 127th Street, Northgate, Seattle, King County, Washington, 98125, United States',
 'address': {'house_number': '837',
  'road': 'Northeast 127th Street',
  'suburb': 'Northgate',
  'city': 'Seattle',
  'county': 'King County',
  'state': 'Washington',
  'postcode': '98125',
  'country': 'United States',
  'country_code': 'us'},
 'boundingbox': ['47.7210196', '47.7211141', '-122.3192057', '-122.3189812']}

In [6]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,0.0,0.0,...,8,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,0.0,0.0,...,8,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,0.0,0.0,...,7,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,0.0,...,8,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,0.0,0.0,...,7,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357

In [7]:
test_df = df.head()

In [12]:
locator = Nominatim()

def return_neighborhood(location):
    if 'neighbourhood' in location['address'].keys():
        return location['address']['neighbourhood']
    elif 'suburb' in location['address'].keys():
        return location['address']['suburb']
    elif 'town' in location['address'].keys():
        return location['address']['town']
    elif 'hamlet' in location['address'].keys():
        return location['address']['hamlet']
    else:
        return "N/A"

test = []
for row in df.index:
    lat = df['lat'][row]
    long = df['long'][row]
    coords = lat,long
    location = locator.reverse(coords)
    location_dict = location.raw
    test.append(return_neighborhood(location_dict))

df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,0.0,0.0,...,8,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,0.0,0.0,...,8,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,0.0,0.0,...,7,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,0.0,...,8,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,0.0,0.0,...,7,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357

In [13]:
test

['Rainier Beach',
 'Northgate',
 'Kenmore',
 'Fauntleroy',
 'Sammamish',
 'N/A',
 'Federal Way',
 'Des Moines Creek',
 'White Center',
 'Katesridge',
 'Robinswood',
 'Wedgwood',
 'Kenmore',
 'Sammamish',
 'Sunset Hill',
 'West Seattle',
 'Duvall',
 'Wallingford',
 'Rivers Bend',
 'Federal Way',
 'Licton Springs',
 'Mercer Island',
 'Lea Hill',
 'Kent',
 'White Horse Crossing',
 'Downtown',
 'Queen Anne',
 'Capitol Hill',
 'Wedgwood',
 'Redmond',
 'Issaquah',
 'Broadview',
 'Whittier Heights',
 'Whittier Heights',
 'Rock Creek',
 'Green Lake',
 'Redmond',
 'Phinney Ridge',
 'Auburn',
 'N/A',
 'Sammamish',
 'N/A',
 'Redmond Ridge East',
 'Queen Anne',
 'Renton',
 'Duvall',
 'Twin Lakes',
 'N/A',
 'Ravenna',
 'N/A',
 'North Hill',
 'Highlands Park',
 'Loyal Heights',
 'Crown Hill',
 'Laurelhurst',
 'N/A',
 'Covington',
 'Stonefield',
 'Sammamish Heights',
 'Summerwind',
 'N/A',
 'N/A',
 'N/A',
 'Green Lake',
 'Madison Valley',
 'Beacon Hill',
 'N/A',
 'Auburn',
 'Covington',
 'N/A',
 'N/A',
 'Kirkland',
 'Lake City',
 'Rock Creek Meadows',
 'Winterwood Estates',
 'Tibbetts Station',
 'N/A',
 'West Seattle',
 'Haller Lake',
 'Henrys',
 'Maple Woods',
 'Rosewood Parke',
 'Holly Park',
 'Renton',
 'Kenwood',
 'Queen Anne',
 'Forrest Villa',
 'Kennydale',
 'Kennydale',
 'Morgan Junction',
 'Federal Way',
 'Lawton Park',
 'Federal Way',
 'Loyal Heights',
 'Loyal Heights',
 'McGilvra',
 'Cambridge East',
 'Federal Way',
 'Maple Valley',
 'Riverpoint',
 'Montlake',
 'Whittier Heights',
 'Cottage Lake',
 'N/A',
 'Renton',
 'Candlewood',
 'Whittier Heights',
 'Zenith',
 'Cottage Lake',
 'Redmond',
 'Issaquah',
 'Greenwood',
 'Fernwood Estates',
 'Holly Park',
 'West Hill',
 'Crown Hill',
 'Greenwood',
 'N/A',
 'Burien',
 'Leschi',
 'Richmond Beach',
 'Simonds Estates',
 'Crown Hill',
 'Dunlap',
 'Redmond',
 'Clyde',
 'Lakeridge',
 'Twin Lakes',
 'Phinney Ridge',
 'Eagle Nest',
 'Muckleshoot',
 'Issaquah',
 'N/A',
 'Issaquah',
 'Sunset Hill',
 'Federal Way',
 'Federal Way',
 'Kenmore',
 'Lake City',
 'Ballard',
 'Queen Anne',
 'Cougar Hills',
 'Renton',
 'Bitter Lake',
 'N/A',
 'N/A',
 'Queen Anne',
 'Preston',
 'Midway',
 'Licton Springs',
 'Greenwood',
 'Fremont',
 'Federal Way',
 'Somerset',
 'Ravenna',
 'Renton',
 'Olympus',
 'Twin Lakes',
 'Enumclaw',
 'N/A',
 'Burien',
 'Juanita',
 'Sammamish',
 'Kirkland',
 'Four Lakes',
 'Kirkland',
 'Des Moines Creek',
 'Cougar Hills',
 'Kirkland',
 'Meridian Park',
 'Burien',
 'Federal Way',
 'Echo Lake',
 'Kirkland',
 'Cougar Hills',
 'Central District',
 'Beacon Hill',
 'Central District',
 'Enumclaw',
 'Broadview',
 'Kent',
 'High Point',
 'Juanita',
 'Parkhaven Place',
 'Redmond',
 'Kirkland',
 'Federal Way',
 'Sammamish',
 'Wallingford',
 'Redmond',
 'Kirkland',
 'Renton',
 'Mercer Island',
 'Meridian Park',
 'Briarcrest',
 'Federal Way',
 'Van Asselt',
 'Delridge',
 'Preston',
 'Maple Valley',
 'Kennydale',
 'Kensington Heights',
 'Sunset Hill',
 'Twin Lakes',
 'Heather Downs',
 'Mercer Island',
 'Redmond',
 'West Seattle',
 'Five Corners',
 'N/A',
 'Elk Run',
 'Laurelhurst',
 'Sammamish',
 'West Hill',
 'Brighton',
 'Burien',
 'Mercer Island',
 'Arroyo Heights',
 'Mount Baker',
 'Broadview',
 'Sammamish',
 'Pacific Ridge',
 'Bothell',
 'Kent',
 'Belmont Woods',
 'Arroyo Heights',
 'Trilogy',
 'Federal Way',
 'Kent',
 'Redmond Ridge',
 'Burien',
 'Olympus',
 'Campus Landing Apartments',
 'N/A',
 'Rainier Vista',
 'Kirkland',
 'N/A',
 'Madison Valley',
 'N/A',
 'Marine Hills',
 'Federal Way',
 'High Point',
 'Ravenna',
 'Rivers Bend',
 'Greenwood',
 'Twin Lakes',
 'Sammamish',
 'Highland Park',
 'Forrest Villa',
 'Greenwood',
 'Kent',
 'Renton',
 'N/A',
 'Brighton',
 'Kent',
 'Maple Leaf',
 'Highland Park',
 'Maplewood Heights',
 'Wilderness Rim',
 'Redmond',
 'Montlake',
 'SeaTac',
 'Sammamish',
 'Leschi',
 'Vashon',
 'Hillshire Terrace',
 'Delridge',
 'Wedgwood',
 'Twin Lakes',
 'N/A',
 'Cottage Lake',
 'Bitter Lake',
 'Puget Sound Hills',
 'N/A',
 'Lawton Park',
 'Shadow Run',
 'Renton',
 'Kenmore',
 'Maple Valley',
 'Dunlap',
 'Kent',
 'Tukwila',
 'Madrona',
 'Redmond Ridge',
 'Kenmore',
 'Kensington Heights',
 'Woodinville',
 'Kirkland',
 'N/A',
 'Eastgate',
 'N/A',
 'Kirkland',
 'Auburn',
 'Newport Hills',
 'West Seattle',
 'Sammamish',
 'Kent',
 'Renton',
 'South Seattle',
 'SeaTac',
 'Sammamish',
 'Federal Way',
 'Loyal Heights',
 'N/A',
 'Highline',
 'Madison Valley',
 'N/A',
 'Sammamish',
 'Ravenna',
 'Newport Hills',
 'Leschi',
 'N/A',
 'Interbay',
 'N/A',
 'N/A',
 'Fairwood Greens',
 'Evergreen',
 'Lea Hill',
 'Meridian',
 'Burien',
 'Redmond',
 'Issaquah',
 'N/A',
 'Federal Way',
 'Mount View',
 'Mount View',
 'N/A',
 'Portage Bay',
 'Burien',
 'Woodridge',
 'Hawthorne Hills',
 'North Hill',
 'The Meadows',
 'Wallingford',
 'Mercer Island',
 'Madisen Drive',
 'Woodinville',
 'Phinney Ridge',
 'N/A',
 'N/A',
 'Redmond',
 'N/A',
 'Northgate',
 'Magnolia Beach',
 'Snoqualmie',
 'N/A',
 'N/A',
 'East Renton Highlands',
 'Seven Oaks East',
 'Lake Forest Park',
 'N/A',
 'Mercer Island',
 'N/A',
 'Greenwood',
 'West Hill',
 'Brighton',
 'Rock Creek Meadows',
 'Eastgate',
 'Redmond',
 'West Seattle',
 'Ames Lake',
 'Willowbrook',
 'Valley Green',
 'Kirkland',
 'Somerset',
 'North Bend',
 'Gregory Heights',
 'Sammamish',
 'Sammamish',
 'Liberty Ridge',
 'Kennydale',
 'Echo Lake',
 'Echo Lake',
 'Federal Way',
 'Kennydale',
 'Sammamish',
 'Lake City',
 'Cherokee Bay',
 'Green Lake',
 'Central District',
 'Bothell',
 'Cottage Lake',
 'Duvall',
 'Redmond',
 'Hilltop',
 'Mercer Island',
 'Woodinville',
 'Renton',
 'Shorewood',
 'N/A',
 'Highland Park',
 'Lake Hills',
 'N/A',
 'N/A',
 'Mercer Island',
 'Kenmore',
 'N/A',
 'Eastgate',
 'Columbia City',
 'Fairwood West',
 'Central District',
 'Glacier Vista',
 'Loyal Heights',
 'Tanner',
 'Valley Green',
 'Alki',
 'Fremont',
 'Auburn',
 'Chinoquan',
 'The Highlands of Cedar River',
 'Kent',
 'Shawnee',
 'N/A',
 'Juanita',
 'Rainier Beach',
 'Redmond',
 'N/A',
 'Meridian Park',
 'Duvall',
 'N/A',
 'Maple Leaf',
 'Newport Shores',
 'Olympus',
 'Boulevard Place',
 'Central District',
 'Rock Creek Meadows',
 'Five Corners',
 'N/A',
 'Maple Glen',
 'Renton',
 'Kent',
 'N/A',
 'Meridian',
 'Renton',
 'Bothell',
 'Somerset',
 'Sammamish',
 'Education Hill',
 'Green Lake',
 'Arroyo Heights',
 'N/A',
 'N/A',
 'Hawthorne Hills',
 'Maple Valley',
 'Kent',
 'Cottage Lake',
 'Issaquah',
 'Kirkland',
 'Kirkland',
 'Kenmore',
 'Kirkland',
 'Bothell',
 'Fernwood Estates',
 'Cougar Hills',
 'Mercer Island',
 'Kenmore',
 'Woodinville',
 'N/A',
 'Renton',
 'Covington Woods',
 'Cougar Hills',
 'Crofton Heights',
 'Kent',
 'Lakota',
 'N/A',
 'Carnation',
 'Bitter Lake',
 'Foxfield',
 'Burien',
 'Crown Pointe Greens',
 'Tukwila',
 'Sammamish',
 'Lake City',
 'Sammamish',
 'Sammamish',
 'Issaquah',
 'Columbia City',
 'Wedgwood',
 'High Point',
 'Kirkland',
 'Eastgate',
 'Kensington Heights',
 'N/A',
 'Fauntleroy',
 'N/A',
 'Twin Lakes',
 'Hilltop',
 'Rainier Beach',
 'Sammamish',
 'Issaquah',
 'Redmond',
 'Renton',
 'Kent',
 'Juanita',
 'Kirkland',
 'Madison Valley',
 'Admiral',
 'Kent',
 'Admiral',
 'Snoqualmie',
 'Crestview',
 'Olympic Manor',
 'Kent',
 'Kirkland',
 'Renton',
 'SeaTac',
 'Phinney Ridge',
 'High Point',
 'Interbay',
 'Kirkland',
 'Cottage Lake',
 'Maplewood Estates',
 'N/A',
 'Evergreen',
 'Admiral',
 'Meridian Park',
 'Kent',
 'Kirkland',
 'Edgewater Park',
 'East Renton Highlands',
 'Renton',
 'Renton',
 'Meridian Park',
 'Talbot Hill',
 'High Point',
 'N/A',
 'Redmond Ridge',
 'N/A',
 'Kenwood',
 'N/A',
 'Cherokee Bay',
 'Forrest Villa',
 'Sammamish',
 'Wesley Gardens',
 'Morganville',
 'Fairwood Hills',
 'Bothell',
 'Fremont',
 'Kent',
 'Winsper',
 'N/A',
 'Renton',
 'Cambridge East',
 'Sammamish',
 'Kent',
 'N/A',
 'Cougar Hills',
 'Highland Park',
 'Fairwood',
 'Burien',
 'McGilvra',
 'Carleton Park',
 'Briarcrest',
 'Renton',
 'Kenmore',
 'Renton',
 'Mercer Heights',
 'SeaTac',
 'Redmond',
 'Covington',
 'N/A',
 'Auburn',
 'Greenwood',
 'Sammamish',
 'N/A',
 'Redmond Ridge East',
 'Rainier Beach',
 'Ravenna',
 'Queen Anne',
 'N/A',
 'Maple Woods',
 'Sammamish',
 'Van Asselt',
 'Madison Valley',
 'Fairwood',
 'Maple Valley',
 'North Auburn',
 'N/A',
 'Kenmore',
 'Twin Lakes',
 'Palisades',
 'Marine Hills',
 'Alki',
 'Kirkland',
 'Hillshire Terrace',
 'Tanner',
 'Little Saigon',
 'Sammamish',
 'Cedar Downs',
 'Leschi',
 'Ames Lake',
 'Enumclaw',
 'Renton',
 'Woodridge',
 'Skyway',
 'Beverly Park',
 'Delridge',
 'North Bend',
 'Federal Way',
 'Mercer Island',
 'Trilogy',
 'Auburn',
 'Lawson Hill Estates',
 'Redmond',
 "Hunter's Ridge",
 'SeaTac',
 'Meridian',
 'Blue Ridge',
 'Covington',
 'Kenmore',
 'Greenwood',
 'Magnolia Village',
 "Hunter's Ridge",
 'Sammamish',
 'Kent',
 'Northgate',
 'Education Hill',
 'Sammamish',
 'Wilderness Rim',
 'Lea Hill',
 'Hillshire Terrace',
 'West Seattle',
 'South Auburn',
 'Whittier Heights',
 'Haller Lake',
 'Bryn Mawr',
 'Beacon Hill',
 'View Ridge',
 'Lawton Park',
 'Winterwood Estates',
 'Enumclaw',
 'Lawton Park',
 'Newport Hills',
 'Kenmore',
 'Meridian',
 'Redmond',
 'Rivers Bend',
 'SeaTac',
 'Federal Way',
 'Admiral',
 'Morgan Junction',
 'Auburn',
 'Kenmore',
 'Alki',
 'Eagle Nest',
 'Cherokee Bay',
 'High Point',
 'University District',
 'SeaTac',
 'White Center',
 'Burien',
 'Cottage Lake',
 'Rainier Beach',
 'High Point',
 'Snoqualmie',
 'Redmond',
 'Juanita',
 'Windermere',
 'Redmond',
 'Ashwood',
 'Tanner',
 'Issaquah',
 'Lake Forest Park',
 'Northgate',
 'Cottage Lake',
 'South Union',
 'N/A',
 'Olympic Manor',
 'Marine Hills',
 'Laurelhurst',
 'N/A',
 'Maple Leaf',
 'Pines',
 'Portage Bay',
 'Fairwood',
 'Juanita',
 'North Bend',
 'Tukwila',
 'Fauntleroy',
 'Snoqualmie',
 'Federal Way',
 'N/A',
 'N/A',
 'Delridge',
 'Licton Springs',
 'Pines',
 'Federal Way',
 'Snoqualmie',
 'Alicia Park',
 'Cottage Lake',
 'Renton',
 'Mercer Island',
 'Carriagewood',
 'Maple Leaf',
 'N/A',
 'Fox Creek',
 'Sammamish',
 'Central Des Moines',
 'Covington Woods',
 'N/A',
 'Youngstown',
 'Rainier Beach',
 'Woodridge',
 'Interbay',
 'SeaTac',
 'Redondo',
 'Kirkland',
 'Kenmore',
 'Coalfield',
 'Enumclaw',
 'Willow Ridge',
 'Cambridge East',
 'Sammamish',
 'Federal Way',
 'Bothell',
 'Kent',
 'Paramount Park',
 'Lake City',
 'Lake City',
 'Lawson Hill Estates',
 'Fernwood Estates',
 'Greenwood',
 'N/A',
 'Redmond',
 'Skyway',
 'Fairwood',
 'Zenith',
 'High Point',
 'South Union',
 'Cottage Lake',
 'Renton',
 'Wilderness Rim',
 'Duvall',
 'Lake Forest Park',
 'Kent',
 'Forest Estates',
 'Crown Hill',
 'Eastgate',
 'Laurelhurst',
 'Auburn',
 'Kent',
 'Crown Hill',
 'Cottage Lake',
 'Cottage Lake',
 'Whittier Heights',
 'Bothell',
 'Alki',
 'Kenmore',
 'Crown Hill',
 'Juanita',
 'Ridgecrest',
 'West Seattle',
 'South Seattle',
 'Trilogy',
 'Edgewater Park',
 'Marine View Demarwood',
 'N/A',
 'N/A',
 'Woodridge',
 'Rainier Beach',
 'Ames Lake',
 'Admiral',
 'N/A',
 'Valley Glenn',
 'President Park',
 'Sammamish',
 'N/A',
 'Covington',
 'N/A',
 'Buenna',
 'Maple Ridge Estates',
 'Kennydale',
 'N/A',
 'Whittier Heights',
 'Eastgate',
 'Lake Hills',
 'Tukwila',
 'Madrona',
 'Lea Hill',
 'Denny-Blaine',
 'East Renton Highlands',
 'Kirkland',
 'N/A',
 'Fremont',
 'N/A',
 'Twin Lakes',
 'Crown Hill',
 'Issaquah',
 'Puget Sound Hills',
 'Westwood',
 'Redmond',
 'Sammamish',
 'Hilltop',
 'Beverly Park',
 'SeaTac',
 'N/A',
 'N/A',
 'Kirkland',
 'Fairway',
 'Cottage Lake',
 'Wallingford',
 'Somerset',
 'Juanita',
 'Bothell',
 'High Point',
 'Sammamish',
 "Sawyer's Grove",
 'Pines',
 'Redmond Ridge',
 'Kent',
 'N/A',
 'Central District',
 'Liberty Ridge',
 'Tibbets Station',
 'Mercer Heights',
 'Morganville',
 'Sammamish',
 'Downtown',
 'N/A',
 'Enumclaw',
 'Lakeland Hills',
 'Kent',
 'Carleton Park',
 'N/A',
 'N/A',
 'Rainier Beach',
 'Greenwood',
 'Tukwila',
 'N/A',
 'Sammamish',
 'Maple Leaf',
 'Summerfield',
 'Twin Lakes',
 'N/A',
 'Auburn',
 'Adelaide',
 'Trilogy',
 'Trilogy',
 'Kent',
 'Lea Hill',
 'Burien',
 'Foy',
 'Cougar Hills',
 'Enumclaw',
 'Greenwood',
 'N/A',
 'Meridian',
 'Bothell',
 'Redmond',
 'Federal Way',
 'Sammamish',
 'Maple Valley',
 'Morgan Junction',
 'Kenmore',
 'Lakeland Hills',
 'Renton',
 'Jaqueline Meadows',
 'Kennydale',
 'N/A',
 'Covington',
 'Highline',
 'Ravenna',
 'Kirkland',
 'Central District',
 'Lakeland Hills',
 'Elk Run',
 'Liberty Ridge',
 'Sammamish',
 'Brighton',
 'Rivers Bend',
 'Leschi',
 'N/A',
 'Kirkland',
 'Sammamish',
 'N/A',
 'Kent',
 'Bothell',
 'Woodmont',
 'Burien',
 'Alicia Park',
 'Morgan Junction',
 'Forrest Villa',
 'Ravenna',
 'Interbay',
 'N/A',
 'Madrona',
 'Wallingford',
 'Bothell',
 'Woodinville',
 'N/A',
 'Portage Bay',
 'Crofton Heights',
 'Highland Park',
 'Highland Park',
 'Robinswood',
 'Mercer Island',
 'Cottage Lake',
 'Juanita',
 'Covington',
 'Mercer Island',
 'N/A',
 'Kennydale',
 'Delridge',
 'Fairwood West',
 'Maple Leaf',
 'Wilderness Estates',
 'Kent',
 'Beacon Hill',
 'Morgan Junction',
 'Downtown',
 'Redmond',
 'West Hill',
 'Highland Park',
 'Chinoquan',
 'Ravenna',
 'Ballard',
 'Stonepine',
 'Highland Park',
 'Renton',
 'Woodmont',
 'N/A',
 'SeaTac',
 'Mercer Island',
 'West Seattle',
 'Houghton',
 'Hillshire Terrace',
 'N/A',
 'N/A',
 'Renton',
 'Holly Park',
 'Juanita',
 'N/A',
 'Auburn',
 'Phinney Ridge',
 'North Beach',
 'Shanlemar Meadows',
 'Ridgecrest',
 'Kent',
 'Spring Glen',
 'Phinney Ridge',
 'Brighton',
 'High Point',
 'Lake City',
 'Montlake',
 'Gregory Heights',
 'Federal Way',
 'Ashwood',
 'Tanner',
 'N/A',
 'Brighton',
 'Alicia Park',
 'Kirkland',
 'Phinney Ridge',
 'Sammamish',
 'West Seattle',
 'Wallingford',
 'Maple Valley',
 'N/A',
 'Seward Park',
 'Admiral',
 'Sammamish',
 'Capitol Hill',
 'Enumclaw',
 'Woodinville',
 'Shorewood',
 'Auburn',
 'Sammamish',
 'Simonds Estates',
 'Kirkland',
 'Admiral',
 'N/A',
 'Cedar Park',
 'Issaquah',
 'Issaquah',
 'Sammamish',
 'Kent',
 'Twin Lakes',
 'Federal Way',
 'Newport Hills',
 'Victoria Park',
 'Cougar Hills',
 'Snoqualmie',
 'Crown Hill',
 'Broadview',
 'Meridian',
 'Enumclaw',
 'Burien',
 'High Point',
 "Hunter's Ridge",
 'N/A',
 'Licton Springs',
 'Cedar Park',
 'Federal Way',
 'White Center',
 'Rosewood Parke',
 'N/A',
 'Meridian',
 'Cedar Downs Village',
 'West Hill',
 'Wallingford',
 ...]

In [14]:
test[0]

'Rainier Beach'

In [23]:
df['Neighborhood'] = 0
df

for row in df.index:
    df["Neighborhood"][row] = test[row]
df

<ipython-input-23-872bc9bb81f7>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Neighborhood"][row] = test[row]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,Neighborhood
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650,Rainier Beach
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639,Northgate
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062,Kenmore
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000,Fauntleroy
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503,Sammamish
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,0.0,0.0,...,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509,Licton Springs
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,0.0,0.0,...,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200,White Center
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,0.0,0.0,...,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007,Leschi
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,0.0,...,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287,Issaquah
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,0.0,0.0,...,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357,Leschi

In [36]:

top_neighborhoods = df['Neighborhood'].value_counts()[0:251].index
for row in df.index:
    if df['Neighborhood'][row] in top_neighborhoods:
        df['Neighborhood'][row] = df['Neighborhood'][row]
    else:
        df['Neighborhood'][row] = "Other"

<ipython-input-36-49cbccc07099>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Neighborhood'][row] = df['Neighborhood'][row]
<ipython-input-36-49cbccc07099>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Neighborhood'][row] = "Other"

In [39]:
df["Neighborhood"].value_counts()

N/A                 2235
Other               1069
Sammamish            886
Kirkland             701
Kent                 566
                    ...
Eastwood Forest       12
Fernwood Estates      12
Endolyne              11
Wyngates              11
Willow Ridge          11
Name: Neighborhood, Length: 252, dtype: int64

In [43]:
for row in df.index:
    if df['Neighborhood'][row] == "N/A":
        df['Neighborhood'][row] = "Other"
df['Neighborhood'].value_counts()

Other              3304
Sammamish           886
Kirkland            701
Kent                566
Redmond             496
                   ...
Glendale             12
Washington Park      12
Willow Ridge         11
Wyngates             11
Endolyne             11
Name: Neighborhood, Length: 251, dtype: int64

In [44]:
df.to_csv('data/KC_with_hoods')